<div class="toolbar">
    <span class="back" [routerLink]="['/product', id]" *ngIf="id != 0">
      <img src="assets/back.png">
    </span>
    <h1>Contacto</h1>
    <span class="contact">
      <img src="assets/whatsapp.png" >
      <img src="assets/instagram.png" style="margin-left: 10px;">
    </span>
</div>

<div class="content">

  <a target="_system" [href]="'http://wa.me/+584141479979/?text=' + message"><button class="send">María Mora (+58 414-1479979)</button></a>
  <a target="_system" [href]="'http://wa.me/+584143950628/?text=' + message"><button class="send">María Manuela (+58 414-3950628)</button></a>

  <a target="_system" href="https://www.instagram.com/esteticstore.ve/"><button class="send2">Estetic Store (@esteticstore.ve)</button></a>

  <div class="info">
    <span style="font-weight: 700; margin-top: 20px; font-size: 12px; margin: 0px 25px"> Estetic Store Ve. All rights reserved. 2021. </span><br>
    <span style="font-weight: 700; margin-top: 20px; font-size: 12px; margin: 0px 25px">For contact with developer <strong>jmoraw7@gmail.com</strong>.</span>
  </div>
</div>