<div class="toolbar">
    <span class="home" [routerLink]="['/products']" *ngIf="id == 0">
      <img src="assets/home.png">
    </span>
    <span class="back" [routerLink]="['/product', id]" *ngIf="id != 0">
      <img src="assets/back.png">
    </span>
    <h1>Detalle</h1>
</div>

<div class="spinner" *ngIf="loading">
  <span class="spinner-inner-1"></span>
  <span class="spinner-inner-2"></span>
  <span class="spinner-inner-3"></span>
</div>

<form [formGroup]="productForm" class="form">
  <input type="hidden" formControlName="id">
  <input type="file" class="inputFile" #fileBrowser (change)="onUploadChange($event)" accept="image/*" multiple/>

  <label for="nombre">Nombre</label>
  <input type="text" formControlName="name"> <br>

  <label for="nombre">Descripción</label>
  <input type="text" formControlName="description"> <br>

  <label for="nombre">Precio previo</label>
  <input type="text" formControlName="previus_price"> <br>

  <label for="nombre">Precio actual</label>
  <input type="text" formControlName="actual_price"> <br>

  <label for="nombre">Estado</label>
  <select formControlName="status">
    <option value="1">Disponible</option>
    <option value="0">No Disponible</option>
  </select>

  <button class="s-image" (click)="takePicture()">Seleccionar imagen</button>

  <button class="save" (click)="save(productForm.value)">Guardar</button>
</form>