<p>update-product works!</p>

<form (ngSubmit)="save(productForm.value)" [formGroup]="productForm">
  <input type="hidden" formControlName="id">
  <input type="file" class="inputFile" #fileBrowser (change)="onUploadChange($event)" accept="image/*" multiple/>

  <label for="nombre">Nombre</label>
  <input type="text" formControlName="name"> <br>

  <label for="nombre">Descripción</label>
  <input type="text" formControlName="description"> <br>

  <label for="nombre">Precio previo</label>
  <input type="text" formControlName="previus_price"> <br>

  <label for="nombre">Precio actual</label>
  <input type="text" formControlName="actual_price"> <br>

  <label for="url_img" (click)="takePicture()">Imagen</label> <br>

  <input type="submit" class="btn--blue btn--add" [disabled]="!productForm.valid" value="Agregar">
</form>