@media (min-width: 100px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Create 2 columns and auto-place rows */
  }
}

@media (min-width: 1024) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Create 2 columns and auto-place rows */
  }
}

@media (min-width: 1200px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Create 2 columns and auto-place rows */
  }
}

@media (min-width: 1600px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; /* Create 2 columns and auto-place rows */
  }
}

img {
  width: 100% !important;
  min-height: 140px;
  max-height: 140px;
}

.card {
  margin: 10px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  .image {
    background-color: #57595d;
    min-height: 140px;
    max-height: 140px;
  }
  .body {
    border-top: 1px solid black;
    padding: 10px;
    line-height: 20px;
    color: white;
    min-width: 100px;
    background-color: #57595d;
    min-height: 105px !important;
    max-height: 105px !important;
    .name {
      font-size: 24px;
      font-weight: 600;
      color: #c1c3c3;
    }
    .discount {
      text-decoration: line-through;
    }
    .price {
      float: right;
    }
  }
}