<div class="toolbar">
  <h1>Productos</h1>
  <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
  <span class="add" [routerLink]="['/update-product', 0]">+</span>
</div>
<div class="spinner" *ngIf="loading">
  <span class="spinner-inner-1"></span>
  <span class="spinner-inner-2"></span>
  <span class="spinner-inner-3"></span>
</div>
<div class="grid" *ngIf="!loading">
  <ng-container *ngFor="let p of products">
    <div [routerLink]="['/product', p.id]" class="card">
      <div class="image">
        <img [src]="p.data.image">
      </div>
      <div class="body">
        <span class="name">{{p.data.name}}</span> <br>
        <span>{{p.data.description}}</span> <br>
        <span *ngIf="p.data.previus_price > 0" class="discount price">${{p.data.previus_price}}</span> <br *ngIf="p.data.previus_price > 0">
        <span class="price">${{p.data.actual_price}}</span> <br>
      </div>
    </div>
  </ng-container>
</div>