<div class="toolbar">
  <h1>Productos</h1>
  <span class="admin" *ngIf="!isAdmin">
    <img class="icon" src="assets/profile-user.png" [routerLink]="['/admin', 'home', 0]">
  </span>
  <span class="add" [routerLink]="['/update-product', 0]" *ngIf="isAdmin">+</span>
</div>

<div class="spinner" *ngIf="loading">
  <span class="spinner-inner-1"></span>
  <span class="spinner-inner-2"></span>
  <span class="spinner-inner-3"></span>
</div>

<div class="grid" *ngIf="!loading && !error">
  <ng-container *ngFor="let p of products">
    <div [routerLink]="['/product', p.id]" class="card">
      <div class="image">
        <img class="images-product" [src]="p.data.image">
      </div>
      <div class="body">
        <span class="name">{{p.data.name}}</span> <br>
        <span>{{p.data.description}}</span> <br>
        <span *ngIf="p.data.previus_price > 0" class="discount price">${{p.data.previus_price}}</span> <br *ngIf="p.data.previus_price > 0">
        <span class="price">${{p.data.actual_price}}</span> <br>
      </div>
    </div>
  </ng-container>
</div>

<div class="card-error" *ngIf="!loading && error">
  <div class="image">
    <img class="image-error" src="error">
  </div>
  <div class="body">
    <h4>Ocurrio un error de conexión, por favor intente más tarde.</h4>
  </div>
</div>